name: scheduled-test-time
on: 
  schedule:
    - cron: 11 17 * * *
jobs:
  run-main-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: node test-time/main.js